.store {
  border: 2px solid gray;
  border-radius: 15px;
  padding: 5rem;
  width: 800px;

  .inputs {
    display: flex;
    flex-direction: column;
    gap: 5rem;

    .store-label {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      input {
        border: 2px solid gray;
        border-radius: 15px;
        background-color: transparent;
        padding: 10px;
        color: white;
      }
    }

    .button-submit {
      display: inline;
      padding: 10px 20px;
      background-color: #7ccf00;
      color: white;
      border-radius: 5px;
      font-weight: bold;
    }
  }
}
